@page "/Test/testList"
@using MedicalUser.Data
@using MedicalUser.Model;
@inject TestService testService ;




<h3>Test List</h3>

@*<a class="nav-link" href="AddCustomer">
    <span class="oi oi-pulse"></span> Add New
</a>*@

<a class="nav-link" href="/Test/AddTest" style="text-align: right;">
    <input type="button" class="btn btn-primary" style="background-color: green;" value="Add New" />
</a>



@if (testList == null)
{
    <p><em>Loading........</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th>#</th>*@
                <th>Test Name</th>
                <th>Test Description</th>
                <th>Edit Details</th>
                <th>Delete Details</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in testList)
            {
                <tr>
                    @*<td>@item.Id</td>*@
                    <td>@item.Test_Name</td>
                    <td>@item.Test_Description</td>
                    <td>
                        <a class="nav-link" href="/Test/EditTest/@item.TestId">
                            <span class="oi oi-pencil" aril-hidden="true" style="color:blue"></span>
                        </a>
                    </td>
                    <td>
                        <a class="nav-link" href="/Test/DeleteTest/@item.TestId">
                            <span class="oi oi-trash" aril-hidden="true" style="color:red"></span>
                        </a>
                    </td>
                </tr>
            }

        </tbody>


    </table>
}








@code {
    List<Test> testList;
    protected override async Task OnInitializedAsync()
    {
        testList = await Task.Run(() => testService.GetTestList());
    }

}
